@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
}
.mapboxgl-marker {
  opacity: 1;
  pointer-events: auto;
  position: absolute;
  top: 0;
  left: 0;
}

[mapboxgl-children] {
  position: absolute;
}

.mapboxgl-control-container {
  display: none;
}

video {
  max-width: none;
}

/*
	Based upon Jakub Hampl's "Designing a departures board with CSS3".
	http://gampleman.eu/post/1488470623/designing-a-departures-board-with-css3
*/

.departure-board {
  box-sizing: content-box;
  transform-origin: top left;
  display: inline-block;
  line-height: 1.2em;
  background: rgb(30, 30, 30);
  border-radius: 0.21em;
  color: #eee;
  font-family: Helvetica;
}

.departure-board span.letter {
  display: inline-block;
  min-width: 1em;
  margin: 0 0.1em;
  height: 1.2em;
  text-align: center;
  position: relative;
  /*
  background-image: url(/cell_background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  */
  overflow: hidden;

  /*
  box-shadow: inset 0 -1px 0 rgba(50, 50, 50, 0.7),
    inset 0 -2px 0 rgba(0, 0, 0, 0.7), inset 2px 0px 4px rgba(0, 0, 0, 0.9),
    inset -2px 0px 4px rgba(0, 0, 0, 0.9), 0 1px 0px rgba(255, 255, 255, 0.2);

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(30, 30, 30, 1) 5%
  );
  */
}

.departure-board .split {
  border-top: 0.02em solid #00000066;
  border-bottom: 0.1em solid #ffffff14;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0.55em;
  display: block;
  z-index: 2;
}

.departure-board span.flap {
  display: block;
  top: 0em;
  min-width: 1em;
  height: 0.65em;
  margin: 0;
  overflow: hidden;
  left: 0;
  right: 0;
}

.departure-board span.text {
  width: 100%;
}

.departure-board span.bottom {
  top: 0.65em;
}

.departure-board span.bottom span.text {
  position: relative;
  top: -0.65em;
}

.flap.falling {
  position: absolute;
}
.flap.falling .text {
  transform: translateY(10px);
}

.flap.falling.in .text {
  transform: translate(0.03em);
  transition-timing-function: ease-in;
}

.flap.falling.half .text {
  transform: translateY(-0.03em);
}

.flap.falling.out {
  opacity: 0;
}

.departure-board span.flap.falling span.text {
  border-top: 0.03em solid #444;
  border-bottom: 0.03em solid #444;
  position: relative;
  width: 100%;
  display: block;
  will-change: transform, opacity;
}

@keyframes grow {
  from {
    transform: scale(1) translate(0, 0);
    border-radius: 0;
  }
  to {
    transform: scale(0.3) translate(20px, 20px);
    border-radius: 8px;
    min-height: 60vh;
  }
}

@keyframes scrollUp {
  from {
    transform: translateY(-30vh);
  }
  to {
    transform: translateY(0vh);
  }
}

.scroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform-origin: top left;
  animation: grow linear;
  animation-timeline: scroll(root block);
  overflow: hidden;
}

.scroll-up {
  animation: scrollUp linear;
  animation-timeline: scroll(root block);
}
