@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
}
.mapboxgl-marker {
  opacity: 1;
  pointer-events: auto;
  position: absolute;
  top: 0;
  left: 0;
}

[mapboxgl-children] {
  position: absolute;
}

.mapboxgl-control-container {
  display: none;
}

video {
  max-width: none;
}

/*
	Based upon Jakub Hampl's "Designing a departures board with CSS3".
	http://gampleman.eu/post/1488470623/designing-a-departures-board-with-css3
*/

.departure-board {
  box-sizing: content-box;
  transform-origin: top left;
  display: inline-block;
  line-height: 1.2em;
}


.departure-board .split {
  border-top: 0.03em solid rgb(24 24 27);
  border-bottom: 0.03em solid rgb(24 24 27);
  opacity: 0.768;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0.58em;
  display: block;
  z-index: 2;
}

.departure-board span.flap {
  display: block;
  top: 0em;
  height: 0.65em;
  margin: 0;
  overflow: hidden;
  left: 0;
  right: 0;
}

.departure-board span.text {
  width: 100%;
}

.departure-board span.bottom {
  top: 0.65em;
}

.departure-board span.bottom span.text {
  position: relative;
  top: -0.65em;
}

.flap.falling {
  position: absolute;
}
.flap.falling .text {
  transform: translateY(10px);
}

.flap.falling.in .text {
  transform: translate(0.03em);
  transition-timing-function: ease-in;
}

.flap.falling.half .text {
  transform: translateY(-0.03em);
}

.flap.falling.out {
  opacity: 0;
}

.departure-board span.flap.falling span.text {
  border-top: 0.03em solid #444;
  border-bottom: 0.03em solid #444;

  position: relative;
  width: 100%;
  display: block;
  will-change: transform, opacity;
}

@keyframes grow {
  from {
    transform: scale(1) translate(0, 0);
    border-radius: 0;
  }
  to {
    transform: scale(0.3) translate(20px, 20px);
    border-radius: 8px;
    min-height: 60vh;
  }
}

@keyframes scrollUp {
  from {
    transform: translateY(-30vh);
  }
  to {
    transform: translateY(0vh);
  }
}

.scroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform-origin: top left;
  animation: grow linear;
  animation-timeline: scroll(root block);
  overflow: hidden;
}

.scroll-up {
  animation: scrollUp linear;
  animation-timeline: scroll(root block);
}
